
.comic-long {
    margin-bottom: 5px;
    display: flex;
}

.comic-long-thumbnail {
    flex-shrink: 0;
    width: 300px;
}

.comic-long-thumbnail img {
    width: 100%;
    height: 100%;
}

.comic-long-content {
    padding: 5px 10px 10px 20px;
    width: 100%;
    flex-shrink: 1;
}

.comic-long-creators-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.comic-long-creators-container-role {
    flex: 0 50%;
    text-align: left;
    padding-bottom: 10px;
}

.comic-long-prev-next {
    width: 100%;
    font-size: 40px;
}

.comic-long-favorite-container {
    float: right;
    font-size: 2rem;
}