.prev-next-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.arrow {
    transition: transform 0.5s ease-in-out;
    width: 100px;
    text-align: center;
}
