$background-color: #fafaff;

$colors: (
        primary: (
                100: #a3c0e8,
                200: #8fa8cb,
                300: #8da6c9,
                400: #879dbb,
                500: #7d93b2,
                600: #7d8caf,
                700: #4c6280,
                800: #3f5370,
                900: #31425a
        ),
        neutral: (
                100: #f5f7fa,
                200: #e4e7eb,
                300: #9aa5b1,
                400: #7b8794,
                500: #616e7c,
                600: #52606d,
                700: #3e4c59,
                800: #323f4b,
                900: #1f2933
        ),
  //
  //accent: (
  //  100: rgb(255, 255, 255),
  //  200: rgb(255, 255, 255),
  //  300: rgb(255, 255, 255),
  //  400: rgb(255, 255, 255),
  //  600: rgb(255, 255, 255),
  //  700: rgb(255, 255, 255),
  //  800: rgb(255, 255, 255),
  //  900: rgb(255, 255, 255)
  //)
)
