@import "themes/default";
@import "core/utilities";

html {
  font-size: $main-font-size;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: $background-color;
}

#root {
  max-width: 900px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}