.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  font-size: 10pt;
}

body{
  font-family: 'Lato', sans-serif;
  background-color: #fafaff;
}

#root {
  max-width: 900px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.t-title {
  font-size: 1.8rem;
  color: #4c6280;
  font-weight: 200;
}

.t-tag, .t-label {
  color: #7d93b2;
}

.t-tag {
  padding-bottom: 3px;
  font-size: 1.2rem;
}

.t-label {
  font-size: 1.6rem;
  margin-bottom: 5px;
}

.t-label-text {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.t-long-text {
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: 15px;
}

.t-select-text {
  color: #7d8caf;
}

.u-hoverable:hover {
  cursor: pointer;
}